<h2 align="center">TEACHER</h2>
<div align="center">
  <%= form_for @teacher  do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :phone_no %><br />
      <%= f.text_field :phone_no, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_area :address, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :subject %><br />
      <%= f.text_field :subject, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :image %><br/>
      <%= f.file_field :image %>
    </div>
    <div class="actions">
      <%= f.submit "Save" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#new_teacher').validate({
      rules:{
        "teacher[name]":{
          required: true          
        },
        "teacher[phone_no]":{
          required: true,
        },
        "teacher[address]":{
          required: true,
          required: true
        },
        "teacher[subject]":{
          required: true
        },
        "teacher[password]":{
          required: true,
          minlength: 8,
          maxlength: 8
        },
        "teacher[password_confirmation]":{
          required: true,
          equalTo: "#teacher_password"
        }
      },
      messages:{
        "teacher[name]":{
          required:  "field required"          
        },
        "teacher[phone_no]":{
          required:  "field required"
        },
        "teacher[address]":{
          required: "field required"
        },
        "teacher[subject]":{
          required: "field required"
        },
        "teacher[password]":{
          required:  "field required", 
          minlength: "Length must be 8",
          maxlength: "Length must be 8"
        },
        "teacher[password_confirmation]":{
          equalTo: "must be equal to password"
        }
      }
    });
  });
</script>
